    <ul class="nav nav-tabs">
        <li class="active"><a href="#loginPanel" data-toggle="tab">Login</a></li>
        <li ><a id="showRegister" href="#registerPanel" data-toggle="tab">Register</a></li>
        <li ><a id="showSendUsername" href="#sendUsernamePanel" data-toggle="tab">Forgot Username</a></li>
        <li ><a id="showResetPassword" href="#resetPasswordPanel" data-toggle="tab">Reset Password</a></li>
    </ul>
<div class="tabbable tabs-left">
    <div class="tab-content">
        <div class="tab-pane active" id="loginPanel">
           <div class="container-fluid well">
                @Html.Partial("_Login", new MembershipReboot.HotTowel.Areas.UserAccount.Models.LoginInputModel())
            </div>
        </div>
        <div class="tab-pane" id="registerPanel">
            <div class="container-fluid well">
                @Html.Partial("_Register", new MembershipReboot.HotTowel.Areas.UserAccount.Models.RegisterInputModel())
            </div>
        </div>
        <div class="tab-pane" id="sendUsernamePanel">
            <div class="container-fluid well">
                @Html.Partial("_SendUsernameReminder", new MembershipReboot.HotTowel.Areas.UserAccount.Models.SendUsernameReminderInputModel())
            </div>
        </div>
        <div class="tab-pane" id="resetPasswordPanel">
            <div class="container-fluid well">
                @Html.Partial("_PasswordReset", new MembershipReboot.HotTowel.Areas.UserAccount.Models.PasswordResetInputModel())
            </div>
        </div>
    </div>
</div>
