@model MembershipReboot.HotTowel.Areas.UserAccount.Models.ChangeEmailRequestInputModel

@using (Html.BeginForm("JsonChangeEmailRequest", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "changeEmailForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change Email</legend>
        @Html.EditorForModel()
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Send for Verification" class="btn btn-primary" />
            </div>
        </div>
        <div class="alert alert-success" style="display:none">
            <strong>Success!</strong>&nbsp;<span></span>
        </div>
        <div class="alert alert-warning">
            <strong>Warning!</strong>&nbsp;Before you choose to change your email, make sure to type it in correctly.  A wrong email could expose private account information.<span></span>
        </div>
        @Html.ValidationSummary()
    </fieldset>
}