@model MembershipReboot.HotTowel.Areas.UserAccount.Models.ChangePasswordFromResetKeyInputModel

@using (Html.BeginForm("JsonChangePasswordFromResetKey", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "changePasswordFromResetKeyForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change Password from Reset Key</legend>
        @Html.EditorForModel()
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>
        <div class="alert alert-success" style="display:none">
            <strong>Success!</strong>&nbsp;<span></span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        @Html.ValidationSummary()
    </fieldset>
}