@model MembershipReboot.HotTowel.Areas.UserAccount.Models.ChangeUsernameInputModel

@using (Html.BeginForm("JsonChangeUsername", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "changeUsernameForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change Username</legend>
        @Html.EditorForModel()
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>

        @Html.ValidationSummary()
    </fieldset>
}