@model MembershipReboot.HotTowel.Areas.UserAccount.Models.ChangeEmailFromKeyInputModel

@using (Html.BeginForm("JsonChangeEmailFromKey", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "changeEmailFromKeyForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change Email from Key</legend>
        @Html.EditorForModel()
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>

        @Html.ValidationSummary()
    </fieldset>
}