@model MembershipReboot.HotTowel.Areas.UserAccount.Models.PasswordResetInputModel

@using (Html.BeginForm("JsonResetPassword", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "passwordResetForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Reset Password</legend>
        @Html.EditorForModel()
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Send Request" class="btn btn-primary" />
            </div>
        </div>
        <div class="alert alert-success" style="display:none">
            <strong>Success!</strong>&nbsp;<span></span>
        </div>
        @Html.ValidationSummary()
    </fieldset>
}