@model MembershipReboot.HotTowel.Areas.UserAccount.Models.RegisterInputModel
@{
    var model = Model;
}
@using (Html.BeginForm("JsonRegister", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
                @Html.EditorForModel()
                <div class="control-group">
            <div class="controls">
            <input type="submit" value="Sign up" class ="btn btn-primary" />
        </div>
        </div>
        <div class="alert alert-success" style="display:none">
            <strong>Success!</strong>&nbsp;<span></span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        @Html.ValidationSummary()
    </fieldset>
}