@model MembershipReboot.HotTowel.Areas.UserAccount.Models.ChangePasswordFromResetKeyInputModel
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new Dictionary<string, object>() { { "class", "form-horizontal" } }))
{
    @Html.AntiForgeryToken()

    <fieldset class="editor small">
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()
         <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary">Change Password</button>
            </div>
        </div>
    @Html.ValidationSummary("Please correct the following errors")

    </fieldset>
}