@{
    ViewBag.Title = "Sign In";
}
    <div id="applicationHost">
        @Html.Partial("~/Views/Shared/_splash.cshtml")
    </div>

@Scripts.Render("~/scripts/vendor")
    @if(HttpContext.Current.IsDebuggingEnabled) {
        <script type="text/javascript" src="~/App/durandal/amd/require.js" data-main="@Url.Content("~/App/loginmain")"></script>
    } else {
		<!-- Remember to run the Durandal optimizer.exe to create the main-built.js  -->
        <script type="text/javascript" src="~/App/loginmain-built.js"></script>
    }