@{
    ViewBag.Title = "Hot Towel SPA Home";
}@using System.Web
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
@{Html.RenderPartial("~/Views/Shared/_Header.cshtml");}
    @Styles.Render("~/Content/css")
@{Html.RenderPartial("~/Views/Shared/_Header_js.cshtml");}
</head>
<body>
    <div id="applicationHost">
        @Html.Partial("~/Views/Shared/_splash.cshtml")
    </div>

    @Scripts.Render("~/scripts/vendor")
        @if(HttpContext.Current.IsDebuggingEnabled) {
            <script type="text/javascript" src="~/App/durandal/amd/require.js" data-main="@Url.Content("~/App/main")"></script>
        } else {
			<!-- Remember to run the Durandal optimizer.exe to create the main-built.js  -->
            <script type="text/javascript" src="~/App/main-built.js"></script>
        }
</body>
</html>
