    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">@ViewBag.Title</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                <div class="container">
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        @{Html.RenderPartial("~/Areas/UserAccount/Views/Shared/_UserMenuSection.cshtml");}
                        @if (User.IsInRole("Administrator")){Html.RenderPartial("~/Areas/Admin/Views/Shared/_AdminMenuSection.cshtml");}
                    </ul>
                </div>

                </div>
            </div>
        </div>
    </div>
