@{
    ViewBag.Title = "Logout";
}
<div class="alert alert-success">
    <div class="container-fluid">
    <h4><i class="icon-thumbs-up icon-large"></i> Success!</h4>
        
        <p>You are now logged out.</p>
        <p>
            Click @Html.ActionLink("here", "Index", "Home") to return home.
        </p>
    </div>
</div>
