<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
@{Html.RenderPartial("~/Areas/UserAccount/Views/Shared/_Header.cshtml");}
</head>
<body>
@{Html.RenderPartial("_UserAccountMenu");}
<!-- Modal -->
@{Html.RenderPartial("_ModalUserInformation");}

    <div class="Container-fluid">
        <div class="row-fluid">
            <div class="span2">
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to run this site.</p>
            <![endif]-->
            </div>
            <div class="span10">
                <div class="span8">
                    @RenderBody()
                </div>
                <div class="span2"></div>
            </div>
        </div>
        @*This next section only shows when logged in and there is a Claims section in the View*@
        @if (IsSectionDefined("Claims") && (User.Identity.IsAuthenticated)) {
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span10">
                @RenderSection("Claims",false)
            </div>
        </div>
        }
    </div>
    <!-- /container -->
@{Html.RenderPartial("~/Areas/UserAccount/Views/Shared/_EndScripts.cshtml");}
@{Html.RenderPartial("~/Views/Shared/_GoogleAnalytics.cshtml");}
</body>
</html>
