
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> @(null!=User.Identity.Name&&string.Empty!=User.Identity.Name?"Account ("+User.Identity.Name+")":"Account") <b class="caret"></b></a>
                            <ul class="dropdown-menu pull-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-header">Status (@User.Identity.Name)</li>
                                    <li>@Html.ActionLink("Sign Out", "Index", "Logout", new { area = "UserAccount" },null)</li>
                                    <li><a href="#settingsPanel" data-toggle="tab">Account Settings</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">-Account Help-</li>
                
                                    <li><a href="#changePasswordPanel" data-toggle="tab">Change Password</a></li>
                                    <li><a href="#changeUsernamePanel" data-toggle="tab">Change Username</a></li>
                                    <li><a href="#changeEmailPanel" data-toggle="tab">Change Email</a></li>
                                    <li><a href="#closeAccountPanel" data-toggle="tab">Close Account</a></li>
                                }
                                else
                                {
                                    <li class="nav-header">
                                        <div class="text-error">Status (Off)</div>
                                    </li>
                                    <li><a href="#loginPanel" data-toggle="tab">Login</a></li>
                                    <li class="divider" ></li>
                                    <li class="nav-header">-Forgot-</li>
                                    <li><a href="#sendUsernamePanel" data-toggle="tab">Email User Name</a></li>
                                    <li><a href="#resetPasswordPanel" data-toggle="tab">Reset Password</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">-Registration-</li>
                                    <li><a href="#registerPanel" data-toggle="tab">Register</a></li>
                                }
                            </ul>
                        </li>
